html,
body,
#root,
.App {
  height: 100vh;
  width: 100vw;
  font-size: 16px;
}

.header {
  position: absolute;
  z-index: 2;
  background-color: #ffffff;
  height: 60px;
  width: 100%;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.04);
  box-sizing: border-box;
}

.container {
  width: 100%;
  height: calc(100% - 60px);
  padding-top: 60px;
  display: flex;

  .sidebar {
    background: #F6F6F6;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
    width: 284px;
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;
  }

  .sidebar-detail {
    position: absolute;
    z-index: 10;

    background: #313731;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.22);
    width: 372px;
    height: 100%;
    box-sizing: border-box;
    overflow: scroll;
    color: #FFFFFF;
  }

  .map-container {
    flex-grow: 1;
    width: auto;
    height: 100%;
    box-sizing: border-box;

    .map {
      width: 100%;
      height: 100%;
    }
  }
}
