.sidebar {
  padding: 20px;
  left: 0;

  .button-container {
    margin-bottom: 12px;
  }

  .title {
    font-weight: 700;
    font-size: 18px;
    line-height: 26px;
    margin-bottom: 8px;
  }

  .sidebar-item-container {
    background-color: #ffffff;
    padding-left: 2em;
    margin-bottom: 10px;

    .sidebar-item {
      font-weight: 400;
      font-size: 16px;
      line-height: 23px;
      padding: 5px 0;
      border-bottom: 1px solid #E9E9E9;
      cursor: pointer;

      .label {
        padding: 0px;
      }

      .category-toggle {
        border: 0;
        background: none;
        margin-left: -2em;
      }
    }
  }

  .category-label {
    font-weight: bold;
  }

  .sidebar-item-category-items {
    padding-left: 1em;
  }

  .user-guide-link {
    display: flex;
    align-items: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    padding: 5px 0;
    border-bottom: 1px solid #E9E9E9;
    cursor: pointer;
    text-decoration: none;
    color: #000000;

    svg {
      margin-right: 5px;
    }
  }
}

@media screen and (max-width: 768px) {
  .container {
    div.sidebar {
      height: 50%;
      position: absolute;
      bottom: 0;
      z-index: 3;

      #list-close {
        height: 15px;
        width: 15px;
        display: none;
        justify-content: center;
        align-items: center;
        z-index: 100;
        position: absolute;
        top: 27px;
        right: 30px;
        padding: 5px;
        cursor: pointer;

        span, span:before, span:after {
          content: '';
          display: block;
          height: 2px;
          width: 18px;
          border-radius: 3px;
          background-color: #000000;
          position: absolute;
        }

        span:before {
          bottom: 0;
          transform: rotate(45deg);
        }

        span:after {
          top: 0;
          transform: rotate(-45deg);
        }
      }

      .open {
        #list-close {
          display: flex;
        }
      }
    }
  }
}
