.sidebar-detail {
  padding: 20px;

  .title {
    font-weight: 700;
    font-size: 23px;
    line-height: 40px;
    display: flex;
    align-items: center;
    border-bottom: 1.3px solid #ffffff;
  }

  .sidebar-detail-item {
    display: flex;
    padding: 6px 0;
    border-bottom: 1.3px solid rgba(255, 255, 255, 0.1);

    .label {
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
      width: 100px;
    }
    .content {
      font-weight: 400;
      font-size: 15px;
      line-height: 22px;
      display: flex;
      align-items: center;
      color: #FFFFFF;
    }
  }
}

